
@model A1Carpentry.Models.DailyWorkReportModel



@{
    ViewBag.Title = "DailyWorkExport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sno = 1;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>


        html {
            box-sizing: border-box;
            font-family: sans-serif;
            line-height: 1.15;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -ms-overflow-style: scrollbar
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box !important
        }
    </style>

</head>

<body data-sa-theme="1">
    @*@using (Html.BeginForm("GenerateDailyReport", "SuperAdmin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {*@


    <section class="content container-fluid">
        <header class="content__title">
            <h1>Daily Work Reports</h1>
            <div class="text-center">
                <p id="Datamessage" style="display:none" class="text-danger"><b>Please enter valid dates to proceed</b></p>

                <span class="col-sm-3" style="color:red;font-weight:bold;display:none" id="lblError">
                    <b>Please select all the fields. </b>
                </span>

            </div>
        </header>

        
        <div class="card">
            <div class="card-body">
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.UserID, new SelectList(Model.lstUsers, "UserID", "FirstName"), " -- Select User Name* --", new { @class = "form-control a-select ", id = "UserID" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.JobDetailID, new SelectList(Model.lstJobDetails, "JobDetailID", "JobName"), " -- Select Job Name* --", new { @class = "form-control a-select ", id = "JobDetailID" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control date-picker" placeholder="Select Start a date" id="StartDate" autocomplete="off" />
                            <i class="form-group__bar"></i>

                        </div>
                    </div>





                    <div class="col-sm-12">	<div class="text-center">  <button type="submit" onclick="return Search()" class="btn btn-primary btn-new py-3 my-sm-4" id="load2" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Generate Daily Report">Generate Daily Report</button> </div></div>



                </div>
            </div>

        </div>


    </section>

    @*}*@
</body>
</html>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">

    function Search() {
        debugger

        var validations = true;


        var startDate = document.getElementById("StartDate").value;
        var jobDID = document.getElementById("JobDetailID").value;
        var userID = document.getElementById("UserID").value;

        let currentdate = new Date();

        //var d = new Date(Date.now());
        //var date_format = d.getFullYear().toString() + "-" + ((d.getMonth() + 1).toString().length == 2 ? (d.getMonth() + 1).toString() : "0" + (d.getMonth() + 1).toString()) + "-" + (d.getDate().toString().length == 2 ? d.getDate().toString() : "0" + d.getDate().toString()) + " " + (d.getHours().toString().length == 2 ? d.getHours().toString() : "0" + d.getHours().toString()) + ":" + ((parseInt(d.getMinutes() / 5) * 5).toString().length == 2 ? (parseInt(d.getMinutes() / 5) * 5).toString() : "0" + (parseInt(d.getMinutes() / 5) * 5).toString()) + ":00";


         if (startDate != "" && jobDID != "" && userID != "") {
            
                if (currentdate < new Date(startDate)) {
                    $("#Datamessage").css("display", "block");
                }
                else {
                    GetReports(startDate, jobDID, userID);
                    $("#Datamessage").css("display", "none");
                }
          
        }

        else {
            document.getElementById("lblError").style.display = "inline";
            validations = false;
            //alert("Please select start date");
        }

        return validations;
    };



    function GetReports(StartDate, jobDID, userID) {
        debugger
        $.ajax({
            url: '/SuperAdmin/GenerateDailyReport',
            data: { startDate: StartDate, jobDID: jobDID, userID: userID},
            success: function (result) {        
                if (result != "") {
                    window.location = '/SuperAdmin/DownloadPdf?file=' + result;

                }
                else {

                    window.location.href = '@Url.Action("Login", "Login")';
                }


            },

        });


    };

</script>


<script>

    $('#UserID').change(function () {
        debugger;
        LoadJobsByUserId($(this).val(), '')
    });

    function LoadJobsByUserId(UserID, jobDID) {
        debugger
        $.ajax({
            url: '/SuperAdmin/LoadJobsByUserId',  // Changed
            data: { UserID: UserID },
            success: function (data) {
                var ddTask = $('#JobDetailID');
                ddTask.children().remove();
                ddTask.append($("<option>").val("").text("-- Select Job Name* --"))
                $.each(data, function (i, record) {
                    ddTask.append($('<option>').val(record.JobDetailID).text(record.JobName));
                })
                $('#JobDetailID').append(ddTask);

                if (jobDID != '')
                    $('#JobDetailID').val(jobDID);

            }, async: false
        })
    };


</script>
<script>

    $('.btn').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 90000);
    });

</script>